@page "/signin"

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Sign In</h1>
        <EditForm Model="@SignData" OnValidSubmit="SignInAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="userlogin">UserLogin</label>
            <InputText id="userlogin" @bind-Value="SignData.UserLogin" class="form-control" />
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="SignData.Password" class="form-control" />
            <p class="my-4">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </p>
        </EditForm>
    </div>
</div>
