@inherits LayoutComponentBase

<div class="page">
    <Stack ClassName="main-bar">
        <NavBar Header="Book Store" Direction="LayoutDirection.Horizontal" Items="@_items">
            <FooterTemplate>
                <NavBar Items="@_footerItems" />
            </FooterTemplate>
        </NavBar>
    </Stack>
    <div>
        @Body
    </div>
</div>
