
@model IEnumerable<Store.BusinessLogicLayer.Models.Users.UserProfileModel>

@{ ViewData["Title"] = "Admin"; }
<h2>Hi admin</h2>
@*<table>
        <tr>
            <td> FirstName</td>

            <td> LastName</td>

            <td> Email</td>

        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td> @item.FirstName</td>

        <td> @item.LastName</td>

        <td> @item.Email</td>

    </tr>}

    </table>*@
